h1 {
  display: flex;
  justify-content: center;
  font-family: "Georgia";
}

p, h5, li, input, button {
  font-family: "Gotham Book";
}

p {
  font-size: 14px;
  padding: 1% 0;
}

h1 {
  font-size: 3em;
}

h4 {
  font-size: 1.75em;
  font-family: "Georgia";
  margin: 3% 0;
}

h5 {
  color: #CFB53B;
  font-size: 1em;
  margin: 5% 0;
}

.title-font {
  font-family: Georgia;
  font-weight: 300;
  font-size: 2.5em;
}

nav, footer {
  display: flex;
  align-items: center;
  background-color: black;
  color: white;
  list-style: none;
  padding: 0 5%;
}
nav .nav-section, footer .nav-section {
  text-transform: uppercase;
  font-size: 0.75em;
}
nav .nav-section p, footer .nav-section p {
  text-align: center;
}
nav .nav-items, footer .nav-items {
  flex: 1;
  align-items: center;
  margin-left: 10%;
  margin-top: 2%;
}
nav .nav-items li, footer .nav-items li {
  display: block;
  text-align: center;
  padding: 1.5%;
}
@media screen and (min-width: 768px) {
  nav .nav-items li, footer .nav-items li {
    float: left;
  }
}
nav .nav-items li:hover, footer .nav-items li:hover {
  color: #CFB53B;
  cursor: pointer;
}
nav .nav-items li:active, footer .nav-items li:active {
  color: #CFB53B;
}
nav .nav-items a, footer .nav-items a {
  color: white;
  text-decoration: none;
  padding-left: 1%;
}
nav .nav-items a:hover, nav .nav-items a:active, footer .nav-items a:hover, footer .nav-items a:active {
  color: #CFb53b;
}
@media screen and (min-width: 768px) {
  nav .nav-items .language, footer .nav-items .language {
    margin-left: 14%;
  }
}
nav .nav-items #hide, footer .nav-items #hide {
  display: none;
}
@media screen and (min-width: 768px) {
  nav .nav-items #hide, footer .nav-items #hide {
    display: block;
  }
}
nav .nav-items .right, footer .nav-items .right {
  float: right;
  display: flex;
  flex-direction: row-reverse;
}
nav .nav-items .mobile-right, footer .nav-items .mobile-right {
  display: flex;
  float: right;
}
@media screen and (min-width: 768px) {
  nav .nav-items .mobile-right, footer .nav-items .mobile-right {
    float: none;
  }
}
@media screen and (min-width: 768px) {
  nav .nav-items .icon, footer .nav-items .icon {
    display: none;
  }
}

footer {
  clear: both;
  display: block;
  align-content: center;
  float: right;
  text-align: center;
  width: 100%;
}
@media screen and (min-width: 768px) {
  footer {
    display: flex;
    flex-direction: row-reverse;
    float: none;
  }
}
footer .subscribe {
  color: darkgray;
  float: left;
  padding: 1%;
  align-items: center;
  width: 20%;
}
footer .subscribe form {
  display: inline;
}
footer .subscribe form p {
  margin: 0.5%;
  font-size: 0.85em;
  text-transform: none;
  text-align: center;
}
footer .subscribe form input {
  background-color: #505050;
  border-color: #505050;
  color: white;
  padding: 5%;
  font-size: 0.85em;
}
footer .subscribe form button {
  background-color: #e7e7e7;
  color: black;
  border: none;
  padding: 5%;
  text-transform: uppercase;
}
footer .nav-section {
  display: block;
  clear: both;
  width: 100%;
  margin: 5% 0;
}
@media screen and (min-width: 768px) {
  footer .nav-section {
    margin: 1%;
    width: 20%;
  }
}
footer .nav-section .nav-items li {
  width: 100%;
  display: block;
  text-align: center;
  align-content: center;
  padding: 10%;
}
@media screen and (min-width: 768px) {
  footer .nav-section .nav-items li {
    display: inline-block;
    margin-left: 1%;
    clear: none;
    padding: 0;
    width: 25%;
  }
}
footer .nav-section p, footer .nav-section li, footer .nav-section input, footer .nav-section button {
  text-align: center;
  font-size: 1em;
}
@media screen and (min-width: 768px) {
  footer .nav-section p, footer .nav-section li, footer .nav-section input, footer .nav-section button {
    max-width: 60%;
  }
}
@media screen and (min-width: 768px) {
  footer .nav-section .newsletter {
    text-align: left;
    padding-left: 10%;
    max-width: 100%;
  }
}

* {
  box-sizing: border-box;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  width: 100%;
}

.svg {
  max-width: 10%;
}

body {
  padding: 0 5%;
  background-color: white;
}

.main {
  margin: 3%;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1%;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: white;
  float: left;
  margin: 1%;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.card:after {
  content: "";
  display: table;
  clear: both;
}
.card .container {
  padding: 2% 5%;
}
.card .container .svg {
  max-width: 5.9%;
}
.card .container a {
  align-items: center;
}
.card .container a:last-child {
  margin-left: 50%;
}
.card .container img {
  padding: 0 1%;
}

/*Flex items*/
.list {
  display: flex;
  flex-wrap: wrap;
}

.list-item {
  display: flex;
  padding: 0.5em;
  width: 100%;
}

@media all and (min-width: 60em) {
  .list-item {
    width: 30%;
    margin: 0 1%;
  }
}
@media all and (max-width: 59em) {
  .list-item {
    width: 90%;
    margin: 0 5%;
  }
}
.list-content {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 1em;
  width: 100%;
}

.list-content p {
  flex: 1 0 auto;
}

.list-content .container {
  padding: 1em;
}

/*# sourceMappingURL=main.css.map */
