body {
  padding: 0 5%;
  background-color: white;
}

h1 {
  display: flex;
  justify-content: center;
  font-family: 'Georgia';
}

p, h5, li, input, button {
  font-family: 'Gotham Book';
}

p {
  font-size: 14px;
  padding: 1% 0;
}

h1 {
  font-size: 3em;
}

h4 {
  font-size: 2em;
  font-family: 'Georgia';
  margin: 3% 0;
}

h5 {
  color: #CFB53B;
  font-size: 1.125em;
  margin: 5% 0;
}

.nav-section {
  text-transform: uppercase;
  font-size: .75em;
  p {
    text-align: center;
  }
}

.title-font {
  font-family: Georgia;
  font-weight: 300;
  font-size: 2.5em;
}

.svg {
  max-width: 10%;
}

nav, footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  list-style: none;
  padding: 0 5%;
  .nav-items {
    li {
      display: inline-table;
      padding: 1%;
      &:hover {
        color: #CFB53B;
      }
      &:active {
        color: #CFB53B;
      }
    }
  }
}

.language{
  max-width: 10%;
  a {
    text-decoration: none;
    color: white;
    padding-left: 10%;
    &:hover, &:active {
      color: #CFB53B;
    }
  }
}

.subscribe {
  color: darkgray;
  float: left;
  padding: 1%;
  align-items: center;
  form {
    display: inline-block;
    p {
      margin: .5%;
      font-size: .75em;
      text-transform: none;
      text-align: left;
    }
    input {
      background-color: #505050;
      border-color: #505050;
      color: white;
      padding: 5%;
      font-size: .85em;
    }
    button {
      background-color: #e7e7e7;
      color: black;
      border: none;
      padding: 5%;
      text-transform: uppercase;
    }
  }
}

.main {
  margin: 3%;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background-color: white;
  width: 30%;
  float: left;
  margin: 1%;
  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

/* Add some padding inside the card container */
.container {
  padding: 2% 5%;
  .svg {
    max-width: 5%;
  }
  a {
    align-items: center;
  }
  img {
    padding: 0 1%;
  }
  a:last-child {
    margin-left: 50%;
  }
}

footer {
  clear: both;
}
