body {
  padding: 0 5%;
  background-color: white;
}

h1 {
  display: flex;
  justify-content: center;
}

.third-width {
  width: 31%;
  display: inline-block;
  padding: 1%;
  .title, li {
    padding: 1%;
  }
}

li {
  display: inline;
}

.svg {
  max-width: 5%;
  color: white;
}

nav, footer {
  background-color: black;
  color: white;
  list-style: none;
  &:hover {
    color: lightyellow;
  }
}

.main {
  margin: 3%;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background-color: white;
  width: 30%;
  float: left;
  margin: 1%;
  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

footer {
  clear: both;
}
